:root {
  --text-head: #456990;
  --text-main: #2e3d50;
  --bg-main: #fafafa;
  --outer-cv: #e2e8f0;
  --main-cv: #ffffff;
  --accent-blue: #3c78d8;
  --line-break: #d9d9d9;
  --bg-form: #dcdcdc;
  --bg-bullet-form: #fef3eb;
  --button: #7392b7;
  --button-highlight: #3498db;
  color: var(--text-main);
  font-family: "source_sans_proregular", "system-ui", "sans-serif";
}

body {
  background-color: var(--bg-main);
  width: 100vw;
  height: 100vh;
}

header {
  padding-top: 2em;
}

h1 {
  text-align: right;
  color: var(--text-head);
}

h3 {
  font-weight: 600;
  font-size: 1.5em;
  font-family: "source_sans_prosemibold", "system-ui", "sans-serif";
  text-transform: uppercase;
}

main {
  margin: 1.25rem auto;
}

#root {
  padding: 0 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

/* Container */
.resume-background {
  padding: 1.5rem;
  background-color: var(--outer-cv);
}

#resume {
  background-color: var(--main-cv);
}

.resume-group {
  padding-top: 1.3cm;
  padding-bottom: 1.3cm;
  padding-left: 1.4cm;
  padding-right: 1.4cm;
}

.accent {
  border-style: solid;
  border-width: 12px 0 0 0;
  border-color: var(--accent-blue);
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* Personal */
.name {
  text-transform: capitalize;
  font-family: "source_sans_probold", "system-ui", "sans-serif";
  text-align: left;
  font-weight: 700;
  font-size: 2.2em;
}

.line-br {
  display: block;
  height: 2px;
  width: 75%;
  background-color: var(--line-break);
  margin: 0.5em 0 1.2em;
}

.personal ul {
  display: flex;
  gap: 1.5rem;
}

.personal li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.svg {
  height: auto;
  width: 1em;
}

/* Experience & Education */
.summary {
  margin-top: 0.5rem;
  font-family: "source_sans_probold", "system-ui", "sans-serif";
  font-weight: 700;
  font-size: 1.25rem;
}

.summary,
.education-info {
  display: flex;
}

.education-info {
  margin-top: 0.25rem;
}

.education-info li:not(:first-child)::before,
.summary li:not(:first-child)::before {
  margin-left: 0.35em;
  margin-right: 0.35em;
  content: "|";
}

.education,
.experience,
.coursework,
.skills {
  margin-top: 1.5rem;
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 120ch;
  margin-top: 0.5rem;
  list-style-type: none;
}

.bullets li {
  margin-left: 1rem;
  text-indent: -14px;
}

.bullets li::before {
  content: "•";
  padding-right: 10px;
}

/* Coursework & Skills */
.coursework ul,
.skills div {
  margin-top: 0.5rem;
  max-width: 120ch;
}

.coursework li {
  display: inline;
  font-family: "source_sans_prosemibold", "system-ui", "sans-serif";
  font-weight: 600;
}

.coursework li:not(:last-child):after {
  content: ",";
  margin-right: 0.25rem;
}

.coursework li:last-child::after {
  content: ".";
}

.skills > div {
  white-space: pre-line;
}

/* toggle-form button */
.resume-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 2rem;
}

.resume-container > div {
  transition: transform 0.3s ease-in;
  transition-delay: 400ms;
}

.toggle-icon {
  display: none;
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  transition-delay: 400ms;
}

.resume-container.active .toggle-icon {
  display: block;
  filter: brightness(0) saturate(100%) invert(0) sepia(100%) hue-rotate(180deg) brightness(85%) contrast(90%);
}

.resume-container.active:hover .toggle-icon:active {
  filter: brightness(0) saturate(100%) invert(45%) sepia(46%) saturate(376%) hue-rotate(161deg) brightness(95%)
    contrast(85%);
  transform: scale(1.1);
}

.resume-container.active:hover .toggle-icon {
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 0ms;
}

.resume-container.active:hover > div {
  transform: translateX(50px);
  transition-delay: 0ms;
}

.will-change {
  will-change: opacity, transform;
}

/* Personal Form Actions */
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.actions > button,
.form-actions > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--button);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: outline 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.actions > button:hover,
.form-actions > button:hover {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--button-highlight);
  background-color: var(--button-highlight);
  color: white;
}

/* Resume Form */
.separator {
  margin: 1rem 0;
}

.form-container {
  background-color: var(--outer-cv);
}

.form-wrapper > .form-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.personal-input {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.personal-input > label,
.experience-summary-form > label {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.personal-input input,
.experience-summary-form input {
  padding: 0.25rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

/* Experience Table Section */
table {
  width: 100%;
  height: min-content;
  border-collapse: collapse;
  border: none;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding-left: clamp(10px, 2vw + 1rem, 20px);
  padding-right: clamp(10px, 2vw + 1rem, 20px);
}

th {
  font-family: "source_sans_prosemibold", "system-ui", "sans-serif";
  font-weight: 500;
  background-color: rgb(235, 235, 235);
}

td {
  background-color: #ffffff;
  text-align: center;
}

.table-actions {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: inherit;
  border: none;
  gap: 0.5rem;
  width: auto;
  justify-content: flex-end;
  align-items: center;
}

.table-actions > * {
  flex-shrink: 0;
}

.action-icon {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  transition: 0.3s;
}

.action-icon img.svg-edit {
  filter: brightness(0) saturate(100%) invert(0) sepia(100%) hue-rotate(180deg) brightness(85%) contrast(90%);
}

.action-icon:hover img.svg-edit {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(45%) sepia(46%) saturate(376%) hue-rotate(161deg) brightness(95%)
    contrast(85%);
}

.bullets-preview {
  padding: 1.5rem 1rem;
}

.bullets-preview .bullets-container {
  display: flex;
  justify-content: center;
}

.bullets-preview ul {
  display: block;
  max-width: 100ch;
  list-style-type: disc;
}

.bullets-preview + td {
  background-color: inherit;
  border: none;
}

/* Experience bullet form */
fieldset {
  border: none;
  margin-bottom: 1rem;
}

.experience-bullet-form legend {
  margin-bottom: 1rem;
}

.experience-summary-form {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
}

.experience-bullet-form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-bullet-form label {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.experience-bullet-form textarea {
  height: auto;
  width: 100%;
  padding: 0.25rem;
}

.bullet-form-bg {
  background-color: var(--bg-bullet-form);
}

.input-bullet-group > div {
  display: flex;
  gap: 1rem;
}

.add-bullet-btn {
  margin-right: auto;
}

/* Switch slider */
.edit-mode-container {
  display: flex;
  gap: 1rem;
}

.edit-mode-container > span {
  font-size: 1.15rem;
  color: var(--text-head);
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  transition: 0.4s;
}

.switch-input:checked + .switch-slider {
  background-color: #2196f3;
}

.switch-input:checked + .switch-slider::before {
  transform: translateX(21px);
}

@media screen and (max-width: 1025px) {
  .form-wrapper > .form-group {
    padding: 1rem;
  }

  .experience-bullet-form textarea {
    min-height: 90px;
  }
}

@media print {
  @page {
    size: A4;
  }

  .no-print {
    display: none;
  }

  #root,
  main,
  .resume-background {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  #resume {
    min-height: 11in;
    font-size: 16px;
    line-height: 1.85;
    width: 8.5in;
    padding-bottom: 1.3cm;
  }

  .name {
    font-size: 1.7em;
  }

  .line-br {
    margin-bottom: 0.85em;
  }

  .bullets {
    gap: 0;
  }

  .personal li {
    font-size: 0.7em;
    font-weight: 400;
  }

  h3 {
    font-size: 1em;
  }

  .summary,
  .education-info {
    font-size: 0.85em;
  }

  li,
  .bullets,
  .skills > div {
    font-size: 0.85em;
  }

  ul,
  li {
    gap: 0;
    padding: 0;
  }

  .experience {
    margin-top: 1.35em;
  }

  .education,
  .coursework,
  .skills {
    margin-top: 0.45em;
  }

  .coursework ul,
  .skills div,
  .education-info .summary {
    margin-top: 0;
  }

  .bullets {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  .coursework ul {
    margin-top: 0;
  }

  .summary {
    margin: 0;
  }
}
