:root {
  --text-head: #456990;
  --text-main: #2e3d50;
  --bg-main: #fafafa;
  --outer-cv: #e2e8f0;
  --main-cv: #ffffff;
  --accent-blue: #3c78d8;
  --line-break: #d9d9d9;
  color: var(--text-main);
  font-family: "source_sans_proregular", "system-ui", "sans-serif";
}

body {
  background-color: var(--bg-main);
  width: 100vw;
  height: 100vh;
}

header {
  padding-top: 2em;
}

h1 {
  text-align: right;
  color: var(--text-head);
}

h3 {
  font-weight: 600;
  font-size: 1.5em;
  font-family: "source_sans_prosemibold", "system-ui", "sans-serif";
  text-transform: uppercase;
}

main {
  margin: 1.25rem auto;
}

#root {
  padding: 0 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

/* Container */
.cv-bg {
  padding: 1.5rem;
  background-color: var(--outer-cv);
}

#resume {
  background-color: var(--main-cv);
}

.resume-data-container {
  padding-top: 1.3cm;
  padding-bottom: 1.3cm;
  padding-left: 1.4cm;
  padding-right: 1.4cm;
}

.accent {
  border-style: solid;
  border-width: 12px 0 0 0;
  border-color: var(--accent-blue);
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* Personal */
.name {
  text-transform: capitalize;
  font-family: "source_sans_probold", "system-ui", "sans-serif";
  text-align: left;
  font-weight: 700;
  font-size: 2.2em;
}

.line-br {
  display: block;
  height: 2px;
  width: 75%;
  background-color: var(--line-break);
  margin: 0.5em 0 1.2em;
}

.personal ul {
  display: flex;
  gap: 1.5rem;
}

.personal li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.svg {
  height: auto;
  width: 1em;
}

/* Experience & Education */
.summary {
  margin-top: 0.5rem;
  font-family: "source_sans_probold", "system-ui", "sans-serif";
  font-weight: 700;
  font-size: 1.25rem;
}

.summary,
.education-info {
  display: flex;
}

.education-info {
  margin-top: 0.25rem;
}

.education-info li:not(:first-child)::before,
.summary li:not(:first-child)::before {
  margin-left: 0.35em;
  margin-right: 0.35em;
  content: "|";
}

.education,
.experience,
.coursework,
.skills {
  margin-top: 1.5rem;
}

.bullets {
  display: flex;
  padding-left: 1em;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 120ch;
  margin-top: 0.5rem;
  list-style-type: disc;
}

/* Coursework & Skills */
.coursework ul,
.skills div {
  margin-top: 0.5rem;
  max-width: 120ch;
}

.coursework li {
  display: inline;
  font-family: "source_sans_semibold", "system-ui", "sans-serif";
  font-weight: 600;
}

.coursework li:not(:last-child):after {
  content: ",";
  margin-right: 0.25rem;
}

.coursework li:last-child::after {
  content: ".";
}

.skills > div {
  white-space: pre-line;
}

/* Actions */
.actions {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
}

.actions > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #3f5a78;
  border: 1px solid #3498db;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

button:hover {
  background-color: #3498db;
  color: white;
  border-color: #2980b9;
  box-shadow: 0 2px 6px rgba(52, 152, 219, 0.2);
  transform: translateY(-1px);
}

@media print {
  @page {
    size: A4;
  }

  .no-print {
    display: none;
  }

  #root,
  main,
  .cv-bg {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  #resume {
    min-height: 11in;
    font-size: 16px;
    line-height: 1.85;
    width: 8.5in;
    padding-bottom: 1.3cm;
  }

  .name {
    font-size: 1.7em;
  }

  .line-br {
    margin-bottom: 0.85em;
  }

  .bullets {
    gap: 0;
  }

  .personal li {
    font-size: 0.7em;
    font-weight: 400;
  }

  .svg {
    color: var(--text-main);
    height: 0.85em;
    width: auto;
  }

  h3 {
    font-size: 1em;
  }

  .summary,
  .education-info {
    font-size: 0.85em;
  }

  li,
  .bullets,
  .skills > div {
    font-size: 0.85em;
  }

  ul,
  li {
    gap: 0;
    padding: 0;
  }

  .experience {
    margin-top: 1.35em;
  }

  .education,
  .coursework,
  .skills {
    margin-top: 0.45em;
  }

  .coursework ul,
  .skills div,
  .education-info .summary {
    margin-top: 0;
  }

  .bullets {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  .coursework ul {
    margin-top: 0;
  }

  .summary {
    margin: 0;
  }
}
