:root {
  --text-main: #2e3d50;
  --bg-main: #fafafa;
  --outer-cv: #e2e8f0;
  --main-cv: #ffffff;
  --accent-blue: #3c78d8;
  color: var(--text-main);
  font-family: "source_sans_proregular", "system-ui", "sans-serif";
}

body {
  background-color: var(--bg-main);
  width: 100vw;
  height: 100vh;
}

#root {
  padding: 0 2rem;
  max-width: 1440px;
  margin: 0 auto;
}
